E3SM_SRC*
scratch*
proj*
cfs*
Cases
test_cases
*.nc
*.g
*.out
*.pyc
*DS_Store
tmp*
*.pyc
inputdata
init_scratch*
figs*
.env_mach_specific.csh
.env_mach_specific.sh
env_mach_specific.xml
.ipynb_checkpoints/
*.swo
PET*RegridWeightGen.Log
zppy_cfg/*
zstash_logs/*